
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0093E9;    
    background-size: cover;
    color: white;
    font-size: 10px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
 
}

.contenedor{
    width: 50%;
    margin: 35px;
    height: 50%;
    display: flex;
    flex-direction: column;
    
}

.contenedor p{
    display: inline-block;
    line-height: 1rem;
}

.fecha{
    font-family: 'Bree Serif', serif;
font-family: 'Chivo Mono', monospace;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 5px;
    background-color: rgba(93, 169, 169, 0.632);
    padding: 20px;
    width: 100%;
    border-radius: 25px;
}

.reloj{
    font-family: 'Bree Serif', serif;
    font-family: 'Chivo Mono', monospace;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background-color: rgba(148, 101, 193, 0.699);
    border-radius: 25px;
}
.medium{
    display: inline-block;
}

.medium .segundos,
.reloj .ampm{
    font-size: 20px;
    display: block;
}

